<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <i class="fa-solid fa-id-card fa-3x mb-3"></i>
          </div>
          <div class="text-center">
            <h5 class="card-title">Visiting Cards</h5>
            <p class="card-text">Elevate your professional presence with our
              expertly crafted visiting cards. Our designs are tailored to make
              a lasting impression, ensuring that your business cards stand out
              from the crowd. Visit us for uniqness and good quality.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            {{! <i class="fa-solid fa-id-card fa-3x mb-3"></i> }}
            <i class="fa-solid fa-envelopes-bulk fa-3x mb-3"></i>
          </div>
          <div class="text-center">
            <h5 class="card-title">Leaflates</h5>
            <p class="card-text">Captivate your audience with stunning leaflets
              that convey your message effectively. From eye-catching designs to
              compelling content, our leaflets are designed to leave a lasting
              impact on your target audience.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            {{! <i class="fa-solid fa-id-card fa-3x mb-3"></i> }}
            <i class="fa-solid fa-square-poll-horizontal fa-3x mb-3"></i>
          </div>
          <div class="text-center">
            <h5 class="card-title">Brochures</h5>
            <p class="card-text">Bring your brand to life with beautifully
              designed brochures that showcase your products and services in the
              best light. Our attention-grabbing layouts and engaging content
              ensure that your brochures make a memorable impression.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            {{! <i class="fa-solid fa-id-card fa-3x mb-3"></i> }}
            <i class="fa-brands fa-stumbleupon fa-3x mb-3"></i>
          </div>
          <div class="text-center">
            <h5 class="card-title">Logos</h5>
            <p class="card-text">Your logo is the face of your brand, and we
              understand its importance. Our logo design services are aimed at
              creating unique and impactful logos that reflect your brand
              identity and resonate with your audience. Try out for unique
              logos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <i class="fa-solid fa-photo-film fa-3x mb-3"></i>
          </div>
          <div class="text-center">
            <h5 class="card-title">Posters</h5>
            <p class="card-text">Make a statement with visually striking posters
              that grab attention and convey your message effectively. Our
              poster designs combine creativity and strategy to ensure maximum
              impact and engagement. Creative minds are here.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <i class="fa-solid fa-icons fa-3x mb-3"></i>
          </div>
          <div class="text-center">
            <h5 class="card-title">Social</h5>
            <p class="card-text">Enhance your social media presence with
              captivating graphics and visuals that boost engagement and drive
              results. From profile banners to social media posts, we create
              compelling designs that resonate with your audience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>