<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading my-3">Your Design Destination</h1>
      <h4 class="text-center sub-heading text-warning">Unlock Your Potential:
        Our Services, Your Success</h4>
      <div class="row">
        <div
          class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column"
        >
          {{! <h1>Will Help you to Grow!</h1>
          <h3>We are a team of
            <span class="text-warning font-weight-bold">Professional Designers!</span></h3> }}
          <h3>Crafting Your
            <span class="text-warning font-weight-bold">Vision </span>into
            <span class="text-warning font-weight-bold">Reality!</span>
          </h3>

          <p>We offer a comprehensive range of design services tailored to meet
            your specific needs and objectives. Whether you're looking to revamp
            your brand identity, create eye-catching marketing materials, or
            develop a stunning website, our team of experienced professionals is
            here to bring your vision to life. With a keen eye for detail and a
            passion for innovation, we strive to deliver results that not only
            meet but exceed your expectations. From initial concept development
            to final execution, we work closely with you every step of the way
            to ensure that our designs align perfectly with your brand values
            and goals. Trust us to provide creative solutions that make a
            lasting impact and help your business thrive in today's competitive
            market.</p>
          <button class="btn btn-warning">Read More</button>
        </div>
        {{! right side  }}
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRisJQaal3YqTUjj0gvWXQcb1R--1HZ7U8bg&s"
              alt="herosectionImg"
              class="img-style"
            />

          </figure>
        </div>
      </div>
    </div>
  </div>
</div>